/* @import '@fontsource/fira-mono'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

body {
    min-height: 100vh !important;
}